*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #212529;
}

.navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #212529;
        color: white;
        padding: 25px 60px;
        margin-bottom: 30px;
}

.cart{
        background-color: #0b4782;
        color: white;
        padding: 5px;
        font-size: 30px;
        border-radius: 4px;
        position: relative;
}

.cartAmount{
        font-size: 18px;
        background-color: red;
        color: white;
        top: -15px;
        right: -10px;
        position: absolute;
        padding: 4px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 4px;
}

.shop{
        display: grid;
        grid-template-columns: repeat(4, 223px);
        gap: 30px;
        justify-content: center;
}

@media (max-width : 1000px){
        .shop{
                grid-template-columns: repeat(2, 223px);
        }
}

@media (max-width : 500px){
        .shop{
                grid-template-columns: repeat(1, 223px);
        }
}


.item{ 

        border: 2px solid;
        border-radius: 4px;
}

.detail{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        color: white;
}

.price-q{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.buttons{
        display: flex;
        gap: 8px;
        font-size: 20px;
        color: white;

}

i {
        cursor: pointer;
}

a{
        text-decoration: none;
        color: white;
}

.text-center{

        text-align: center;
        margin-bottom: 20px;
        color: white;
}

.homeBtn,.checkout,.removeAll{
        border: none;
        color: #212529;
        cursor: pointer;
        padding: 6px;
        border-radius: 4px;
        background-color: white;
        margin-top: 10px;
}


.homeBtn:hover,.checkout:hover,.removeAll:hover{
cursor: pointer;
}

.checkout,.removeAll{
        align-content: center;
        margin-right: 2px;
}

.checkout{
        background-color: rgb(27, 154, 27);
}

.removeAll{
        background-color: rgb(197, 42, 42);
}

.bi-x-lg{
        color: red;
        font-weight: bolder;

}

.shopping-cart{
        display: grid;
        grid-template-columns: repeat(1,320px);
        justify-content: center;
        gap: 15px;
}

.cart-item{
        border: 2px solid white;
        border-radius: 5px;
        display: flex;
}

.title-price-x{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 115px;
        color: white;
}

.title-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
}

.cart-item-price{
        border: 3px 6px;
}

.logo{
        background-color: white;
        color: #212529;
        border-radius: 3px;
        padding: 8px 8px;
}